<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome {{ class }}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <h1>Welcome {{ class }} </h1>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
